.icons{
    margin-top: 5%;
}

.twitter{
    color: rgb(9, 72, 243);
    background-color: rgba(13, 13, 56, 0.7);
}

.linkedin{
    color: rgb(13, 34, 224);
    background-color: rgba(13, 13, 56, 0.7);
}